<%= stylesheet_link_tag 'authentication' %>
<div class="welcome_page_container">
<h1>Hello, all you Mucho Amigos riding on these Ruby studded Rails!<br /><br />Be our Guest at the Next Insane Party</h1>
</div>
<div class="devise_form_containers">
<% if mucho_amigo_signed_in? %>
  <h3>Logged in as: <span class="email_styles"><%= current_mucho_amigo.email %></span></h3>
  <p style="margin: 0.5rem;text-align: center;"><%= link_to 'Edit profile', edit_mucho_amigo_registration_path, :class => 'navbar-link' %></p>
  <p style="margin: 0.5rem;text-align: center;"><%= link_to "Logout", destroy_mucho_amigo_session_path, method: :delete, :class => 'navbar-link'  %></p>
<% else %>
  <p style="margin: 0.5rem;text-align: center;"><%= link_to "Sign up", new_mucho_amigo_registration_path, :class => 'navbar-link'  %></p>
  <p style="margin: 0.5rem;text-align: center;"><%= link_to "Login", new_mucho_amigo_session_path, :class => 'navbar-link'  %></p>
<% end %>
</div>