<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag 'authentication' %>
  <%= javascript_include_tag 'country_state_dropdown', 'data-turbolinks-track': 'reload' %>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>  <!-- This is where the content of your views will be rendered -->